@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.small-caps {
  font-variant: small-caps;
}

@keyframes slideIn {
  from {
    right: -250px;
  }
  to {
    right: 0;
  }
}

.opened {
  animation: slideIn 0.3s forwards;
}

.animation {
  animation: cardAnimation 0.5s ease forwards;
}

@keyframes cardAnimation {
  from {
    margin-top: -20px;
  }
  to {
    margin-top: 0;
  }
}

.test {
  transform: translate(0px, 0px);
}
