@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small-caps {
    font-variant: small-caps;
  }
  .accordion-collapsed {
    grid-template-rows: 0fr;
  }
  .accordion-expanded {
    grid-template-rows: 1fr;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    transform: rotateY(180deg);
  }
}

@layer utilities {
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Webkit browsers */
  margin: 0; /* Removes default margin */
}
